<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'logoutuser' %}">
        <button>Logout</button>
      </form>
<br>
      <form action="{% url 'orders' %}">
        <button>Orders</button>
      </form>
    <center>
        <h1>Enter manifactured products</h1>
        <form action="add_mproduct" method="POST">
            {% csrf_token %}
            <div>
        Product  :   {{ form.product }}
        <br><br>
        Amount  :  {{ form.amount }}
        <br>
        <br>
        Measure  : {{ form.measure }}
        <br>
        <br>
        Unit price : {{ form.unit_price }}
        <br>
        <br>
        Code : {{ form.code }}
        <br>
        <br>
        Description : {{ form.description }}
    </div>
    <button type="submit">SAVE</button>
        </form>
    </center>
</body>
</html>