

<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #d1c6c6;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #e9e9da;
    }
    </style>


   

    <form action="{% url 'logoutuser' %}">
        <button>Logout</button>
    </form>
    <center><h1>{{ user.username }}</h1></center>
   
    
    <form action="{% url 'loginpage' %}">
        <button>Login</button>
    </form>
    
   

    <center><h1>{{ user.username }}</h1></center>
<table border="2px">
    <tr>
    <th>ID</th>
    <th>Client</th>
    <th>Employee</th>
    <th>Product</th>
    <th>Unit Price</th>
    <th>Amount order</th>
    <th>Total price</th>
    <th>Discount</th>
    <th>Total Discount</th>
    <th>Total price with discount </th>
    <th>Currency</th>
    <th>Payment type</th>
    </tr>
    {% for order in orders %}
    <tr>
    <td>{{ order.id }}</td>
    <td>{{ order.client }}</td>
    <td>{{ order.employee }}</td>
    <td>{{ order.product }}</td>
    <td>{{ order.unit_price }}</td>
    <td>{{ order.amount_order }}</td>
    <td>{{ order.total_price }}</td>
    <td>{{ order.discount }}</td>
    <td>{{ order.total_discount }}</td>
    <td>{{ order.total_price_with_discaunt }}</td>
    <td>{{ order.currency }}</td>
    <td>{{ order.payment_type }}</td>
    </tr>
    {% endfor %}
    <tbody></tbody>
</table>